<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AMS | About</title>
    <link rel="stylesheet" href="css\style.css">
</head>
<body>
    {% include 'includes\navbar.html' %}
	<center>
        <div class="dAbout">
            <h1>Medical Billing System</h1>
            <p>This is a simple Medical Billing system developed using Python Flask framework. This demonstrates the registering and ordering of medicines
                for pharmacies. This is clearly developed for learning and cannot be used for Commercial Purposes.
            </p>
        </div>
    </center>
</body>
</html>