
    {% extends 'includes/base.html' %}
    {% block content %}
        <form action="" method='POST'>
            <fieldset class="form-group">
                <legend>Login</legend>
                {{ form.hidden_tag() }}
                <table class="table table-borderless table-hover">
                    <tbody>
                        <tr>
                            <th scope="row">{{ form.user_id.label }}</th>
                            <td>{{ form.user_id(size=15) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ form.password.label }}</th>
                            <td>{{ form.password(size=15) }}</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>{{ form.submit() }}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
            <!-- <table class="tLogin">
                <tr>
                    <td>
                        <h2>CUSTOMER LOGIN</h2>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" placeholder="User ID"></td>
                </tr>
                <tr>
                    <td><input type="password" placeholder="Password"></td>
                </tr>
            </table>
            <input class='iLogin' type="submit" value="SUBMIT"> -->
        </form>
{%  endblock %}