<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>AMS | Not Found</title>
</head>

<body>
    <div class="error-image">
        <img src="/static/images/dudes.png" alt="">
        <h3>Sorry! The Page you are trying to access is missing.</h3>
        <h3>Why don't you try our <a href="{{ url_for('home') }}">HOMEPAGE</a></h3>
    </div>

</body>

</html>