<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\style.css">
    <title>AMS | Registration</title>
</head>
<body>
    {% extends 'includes/navbar.html' %}
    {% block main %}
    <center>
        <form action="register" method="POST">
            
            <table class="tRegister">
                <tr>
                    <td><h2>CUSTOMER REGISTER</h2></td>
                </tr>
                <tr>
                    <td><input type="text" name="fName" id="fName" placeholder="First Name *" required></td>
                    <td><input type="text" name="lName" id="lName" placeholder="Last Name *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Phone Number *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Email ID *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Pharmacy Name *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Address Line 1 *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Address Line 2"></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="City *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="State / UT *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Pincode *" required></td>
                </tr>
                <tr>
                    <td colspan=2><input type="text" name="" id="" placeholder="Licence Number *" required></td>
                </tr>
            </table>
            <input class="iRegister" type="submit" value="Register">
        </form>
    </center>
    {% endblock %}
</body>
</html>